.card{
    font-size: large;
    color: #000;
}

.email{
    font-size: large;
    color: #000;
}

.advertencia{
    font-size: medium;
}

.contrasena{
    font-size: large;
    color: #000;
}

.verificar{
    font-size: large;
    color: #000;
}